<% content_for :title, "Editing secondary name" %>

<h1>Editing secondary name</h1>

<%= render "form", secondary_name: @secondary_name %>

<br>

<div>
  <%= link_to "Show this secondary name", @secondary_name %> |
  <%= link_to "Back to secondary names", secondary_names_path %>
</div>
