<p style="color: green"><%= notice %></p>

<% content_for :title, "Secondary names" %>

<h1>Secondary names</h1>

<div id="secondary_names">
  <% @secondary_names.each do |secondary_name| %>
    <%= render secondary_name %>
    <p>
      <%= link_to "Show this secondary name", secondary_name %>
    </p>
  <% end %>
</div>

<%= link_to "New secondary name", new_secondary_name_path %>
