<p style="color: green"><%= notice %></p>

<% content_for :title, "Apiary names" %>

<h1>Apiary names</h1>

<div id="apiary_names">
  <% @apiary_names.each do |apiary_name| %>
    <%= render apiary_name %>
    <p>
      <%= link_to "Show this apiary name", apiary_name %>
    </p>
  <% end %>
</div>

<%= link_to "New apiary name", new_apiary_name_path %>
